.flyout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

main {
  margin-bottom: auto;
}

.navbar {
  box-shadow: none;

  svg {
    max-height: 2rem;
  }

  .nav-item {
    color: white;
    padding: 0.5rem;
    cursor: pointer;
  }

  &.top-nav-collapse {
    background: rgba(0, 55, 121, 0.9);
  }

  .button {
    color: white;
    background: $blue;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    transition: all 0.2s ease;
    cursor: pointer;

    i {
      margin-right: 0.4rem;
    }

    &:hover {
      background: lighten($blue, 5%) !important;
    }
  }
}

.bg-blue {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 55, 121, 0.9) 50%,
    rgba(0, 150, 214, 1) 100%
  );
}

// Custom text
.red-text {
  color: $red !important;
}

.pink-text {
  color: $pink !important;
}

// Buttons
.btn {
  box-shadow: none !important;

  &.btn-blue {
    background: $blue !important;

    &:hover {
      background: lighten($blue, 5%) !important;
    }
  }

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

// Cards
.card {
  box-shadow: none;
}

// Generic
.clickable {
  cursor: pointer !important;
}

// Fix icon spacing in buttons
.btn {
  i {
    padding-right: 0.2rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($blue, 5%);
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2021 Christian Aichner
 */
