body {
  background: #fff;
}

.list-group {
  .list-group-item {
    padding: 0;
    border: none;

    &:first-child {
      margin-bottom: 2rem;
    }

    .main-container {
      display: flex;
      div {
        display: inline-block;

        &:first-child {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 1rem;

          .form-check {
            padding: 0;
            width: auto;

            .form-check-label {
              padding: 0;
            }
          }
        }

        &:last-child {
          width: 100%;

          .md-form {
            margin: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2020 Werbeagentur Christian Aichner
 */
